[color]
	ui = auto
[commit]
	verbose = true
[fetch]
	prune = true
[github]
	user = ktravers
[init]
	defaultBranch = main
[pager]
	branch = false
[pull]
	rebase = true
[push]
	default = simple
	autosetupremote = true
[rebase]
	autosquash = true
[rerere]
	enabled = true
